<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>CoGoMo</title>
{% endif %}

{% if description %}
    <meta name="description" content="{{ description }}">
{% else %}
    <meta name="description"
          content="Incremental Refinement of Goal Models with Contracts">
{% endif %}

<link rel="icon" type="image/png" href="/static/assets/images/favicon.png"/>

<!--Core CSS -->
{#<link rel="stylesheet" type="text/css" href="/static/assets/css/bulma.min.css">#}
{#<link rel="stylesheet" type="text/css" href="/static/assets/css/core.min.css">#}

<link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

<!--Libraries-->
{#<link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.highlighttextarea.css">#}

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">#}

<link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.toast.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/bulma-checkbox.css">

<link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/introjs.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">


{#<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">#}


{#<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>#}
{##}
{#<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>#}
{#<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>#}
{##}
{#<!-- cytoscape popper -->#}
{##}
{##}
{#<script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.js"></script>#}
{#<script src="/static/assets/css/js/cytoscape-popper.js"></script>#}
{##}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.5/dist/umd/popper.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.2/cytoscape-popper.min.js"></script>#}
{##}
{##}
{#<!-- tippy -->#}
{#<script src="https://unpkg.com/tippy.js@5.2.1/dist/tippy-bundle.iife.min.js"></script>#}


{#<link rel="stylesheet" href="https://unpkg.com/tippy.js@5.2.1/dist/tippy.css"/>#}


<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
<script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css"/>


<link rel="stylesheet" type="text/css" href="/static/assets/css/icons.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/hero.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css">




