<section class="hero is-info is-medium is-bold">
    <div class="hero-body" style="padding-bottom: 3rem; padding-top: 3rem">
        <div class="container has-text-centered">
            <h1 class="title">
                Incremental Refinement of Goal Models with Contracts
            </h1>
            <h2 class="subtitle">
                A requirement engineering framework combining the goal-oriented and contract-based approaches to
                requirement engineering.
                This tool is a support to the designer to build a <i> contract-based goal tree</i>, to represent goal
                models in terms of hierarchies of contracts.
            </h2>
        </div>
    </div>
</section>