<section class="container">
    <div class="column"></div>

    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Propositional and Predicate Logic</p>
                    <p class="subtitle">Powered by Z3</p>
                    <p><a href="z3">GO</a></p>
                </article>
            </div>
{#            <div class="tile is-parent">#}
{#                <article class="tile is-child box">#}
{#                    <p class="title">Linear Temporal Logic</p>#}
{#                    <p class="subtitle">Powered by NuSMV</p>#}
{#                    <p><a href="ltl">GO</a></p>#}
{#                </article>#}
{#            </div>#}
        </div>
    </section>
</section>
