<section class="hero is-info is-medium is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" style="height: 90px" href="index">
                        <img src="/static/assets/images/cogomo-logo-white.png" alt="CoGoMo" style="max-height: 4.5rem;">
                    </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
{#                            <ul>#}
{#                                <li class="is-active"><a>Home</a></li>#}
{#                                <li><a href="">Examples</a></li>#}
{#                                <li><a href="">Features</a></li>#}
{#                            </ul>#}
                            <span class="navbar-item">
                                        <a class="button is-white is-outlined"
                                           href="https://github.com/pierg/cogomo">
                                            <span class="icon">
                                                <i class="fa fa-github"></i>
                                            </span>
                                            <span title="Github Page">View Source</span>
                                        </a>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>