graphviz
tabulate

docker
flask
python-dotenv
flask_cors
flask_socketio
python-socketio
pre-commit
bloom-filter

aenum
treelib
# pygraphviz INSTALL MANIALLY, RUN: conda install -c conda-forge pygraphviz
