{% include 'includes/hero.html' %}


{% include 'includes/index_menu.html' %}

<section class="container">


    {% include 'includes/cgt_tree.html' %}

</section>

{% include 'includes/scripts.html' %}
{% include 'includes/script_z3.html' %}


{#{% include 'includes/insert_link_goals.html' %}#}
{##}
{#<section class="container">#}
{##}
{#    {% include 'includes/cgt_tree.html' %}#}
{##}
{##}
{#    {% include 'includes/goal_list.html' %}#}
{##}
{##}
{#    {% include 'includes/console.html' %}#}
{##}
{#</section>#}
