.first-child-no-border-top:first-child > td {
    border-top: 0;
}

.overflow-x-initial > div:first-child {
    overflow-x: initial;
}

.custom-modal-dialog {
    max-width: 75%;
    margin: 6.75rem auto;
}

.min-content {
    width: min-content;
}

.grid-template-2 {
    grid-template-columns: 25% 75%;
}

.shifted-canvas-margin {
    margin-right: 10px;
}

@media (min-width: 640px) {
    .sm\:c-m-w-70 {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .md\:c-m-w-60 {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .lg\:c-m-w-50 {
        max-width: 700px;
    }
}

@media (min-width: 1280px) {
    .xl\:c-m-w-40 {
        max-width: 1000px;
    }
}